// General Styles -----------------
[v-clock] {
    display: none;
}
h1 {
    font-family: $ceviche;
    color: $dkAqua;
} 
body, .subheading {
    font-family: $text;
    color: #333;
}
.cta-btn {
    color: white;
    background-color: $dkBlue;
    font-size: 1.5rem;
    padding: 5px 30px 8px 30px;
    border-radius: 25px;
    transition-duration: .5s;
    &:hover {
        background-color: $blue;
    }
}

// Intro Screen -------------------
#intro-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    .row {
        @extend %fill;
    }
    [class*="col"] {
        min-height: 30%;
    }
    .intro-img {
        background: url('../../img/diamond-upholstery.png'), linear-gradient($ltPink, $pink, $red);
    }
    .intro-container {
        background: url('../../img/subtle-white-feathers.png'), $offWhite;
        @extend %flex-col;
        @extend %flex-center;
        z-index: 6;
        box-shadow: 0 0 40px 0 rgba(49, 0, 0, 0.3);
        div {
            padding: 4rem;
            background: radial-gradient(white, rgba(255,255,255,0) 70%);
            border-radius: 50%;
        }
    }
    h1 {
        font-size: 4.7rem;
        margin: 5px 0;
        line-height: 3rem;
    }
    .subheading {
        font-size: 1.2rem;
        font-weight: 600;
        color: $aqua;
    }
    p {
        font-size: 1.3rem;
    }
}

// Game Screen -------------------
#game-screen {
    min-height: 100vh;
    width: 100vw;
    background: url('../../img/tileable-wood-colored.png'), linear-gradient(#c5a67d, #977956);
    display: flex;
    align-items: center;
    .wasabi-bounce {
        width: 100px;
        margin: -30px 0 -20px 0;
        @media (min-width: 576px) {
            width: auto;
            margin: 0;
        }
    }
}
#game-container {
    background: $offWhite;
    //min-height: 100vh;
    box-shadow: 0 0 40px 0 rgba(49, 0, 0, 0.3);
    @media (min-width: 576px) {
        min-height: 100vh;
    }
}
.game-misc {
    width: 100%;
    max-width: 960px;
    //margin: 0 auto;
    .time {
        font-size: 2rem;
        font-weight: 800;
        color: $dkAqua;
        margin: 0 10px;
        @media (min-width: 768px) {
            font-size: 4rem;
        }
    }
    .cta-btn {
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
        background-color: $pink;
        font-size: 1rem;
        padding: 5px 20px 8px 20px;
        &:hover {
            background-color: $red;
        }
        @media(min-width: 768px) {
            font-size: 1.5rem;
            padding: 5px 30px 8px 30px;
        }
    }
}
.game-grid {
    //height: 100%;
    width: 100%;
    // display: grid;
    perspective: 1000px;
    max-width: 960px;
    //margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cart {
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center center;

    height: 60px;
    width: 60px;
    margin: 4px;
    border-radius: 5px;
    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);

    // height: 100%;
    // width: 100%;
    transition: 0.6s;
	transform-style: preserve-3d;
    position: relative;
    @media (min-width: 576px) {
        height: 80px;
        width: 80px;
        margin: 5px;
    }
    @media (min-width: 768px) {
        height: 100px;
        width: 100px;
    }
    @media (min-width: 1000px) {
        height: 130px;
        width: 130px;
    }
    @media (min-width: 1200px) {
        height: 150px;
        width: 150px;
    }
    .back, .front {
        @extend %fill;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
    }
    .back {
        background: url('../../img/soft-circle-scales.png'), linear-gradient(45deg, $dkBlue, $blue);
        z-index: 2;
    }
    .front {
        transform: rotateY(180deg);
    }
    &.selected {
        transform: rotateY(180deg);
    }
    &.match {
        opacity: 0;
    }
    &:hover {
        cursor: pointer;
    }

}