// Intro Screen -------------------
#intro-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    .row {
        @extend %fill;
    }
    [class*="col"] {
        min-height: 50%;
    }
    .intro-img {
        background: linear-gradient($ltPink, $pink, $red);
    }
    .intro-container {
        background-color: $offWhite;
        @extend %flex-col;
        @extend %flex-center;
    }
}

// Game Screen -------------------
#game-screen {
    height: 100vh;
    width: 100vw;
    background: $ltYellow;
}
.game-grid {
    //height: 100%;
    width: 100%;
    // display: grid;
    perspective: 1000px;
    // grid-template-columns: 25%, 25%, 25%, 25%;
    // grid-template-rows: auto;
    // grid-column-gap: 10px;
    // grid-row-gap: 10px;
    // grid-template-areas: 
    //         "one two three four"
    //         "five six seven eight"
    //         "nine ten eleven twelve"
    //         "thirteen fourteen fifteen sixteen"
    //         "seventeen eighteen nineteen twenty"
    //         "twenty1 twenty2 twenty3 twenty4";
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cart {
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center center;

    height: 150px;
    width: 150px;
    margin: 5px;

    // height: 100%;
    // width: 100%;
    transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
    .back, .front {
        @extend %fill;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5px;
    }
    .back {
        background-color: darkslategrey;
        z-index: 2;
    }
    .front {
        transform: rotateY(180deg);
    }
    &.selected {
        transform: rotateY(180deg);
    }
    &.match {
        opacity: 0;
    }
    &:hover {
        cursor: pointer;
    }

    // &:nth-child(1) {
    //     grid-area: one;
    // }
    // &:nth-child(2) {
    //     grid-area: two;
    // }
    // &:nth-child(3) {
    //     grid-area: three;
    // }
    // &:nth-child(4) {
    //     grid-area: four;
    // }
    // &:nth-child(5) {
    //     grid-area: five;
    // }
    // &:nth-child(6) {
    //     grid-area: six;
    // }
    // &:nth-child(7) {
    //     grid-area: seven;
    // }
    // &:nth-child(8) {
    //     grid-area: eight;
    // }
    // &:nth-child(9) {
    //     grid-area: nine;
    // }
    // &:nth-child(10) {
    //     grid-area: ten;
    // }
    // &:nth-child(11) {
    //     grid-area: eleven;
    // }
    // &:nth-child(12) {
    //     grid-area: twelve;
    // }
    // &:nth-child(13) {
    //     grid-area: thirteen;
    // }
    // &:nth-child(14) {
    //     grid-area: fourteen;
    // }
    // &:nth-child(15) {
    //     grid-area: fifteen;
    // }
    // &:nth-child(16) {
    //     grid-area: sixteen;
    // }
    // &:nth-child(17) {
    //     grid-area: seventeen;
    // }
    // &:nth-child(18) {
    //     grid-area: eighteen;
    // }
    // &:nth-child(19) {
    //     grid-area: nineteen;
    // }
    // &:nth-child(20) {
    //     grid-area: twenty;
    // }
    // &:nth-child(21) {
    //     grid-area: twenty1;
    // }
    // &:nth-child(22) {
    //     grid-area: twenty2;
    // }
    // &:nth-child(23) {
    //     grid-area: twenty3;
    // }
    // &:nth-child(24) {
    //     grid-area: twenty4;
    // }

}